@use './variables' as *;

.wrapper {
    max-width: 1920px;
    width: 85%;
    margin: 0 auto;
}

html {
    background-color: whitesmoke;
    font-size: 125%;
}

li {
    list-style: none;
    a {
            text-decoration: none;
        }
}

button {
    background-color: $button-background;
    align-self: center;
}

.fa-brands,
.firebaseLogo,
.fa-regular {
    color:whitesmoke;
}