@use './variables' as *;

.wrapper {
    max-width: 1440px;
    width: 90%;
    margin: 0 auto;
}

html {
    background-color: $body-color;
}

body {
    border: 2px solid black;
}

li {
    list-style: none;
}