@use './variables' as *;

.wrapper {
    max-width: 1440px;
    width: 90%;
    margin: 0 auto;
    // border: 1px solid grey;
}

html {
    background-color: $body-color;
    font-size: 125%;
}

li {
    list-style: none;
    
}

button {
    background-color: $button-color;
}

.fa-brands,
.firebaseLogo {
    color:whitesmoke
}