@use './variables' as *;

.contactMain {
    display: flex;
    justify-content: center;
    margin-bottom: 10%;
    .wrapper {
        width: 60%;
    }
}

.contactStickyBar {
    display: flex;
    justify-content: space-between;
    li {
        margin: 0px 5px;
    }
}

.homeButton {
    margin: 20px;
    a {
        text-decoration: none;
        color: white;
        
    }
}

.contactMeText {
    font-size: 3.3vw;
    
}

.userInput {
    width: 52vw;;
}
