@use 'variables' as *;

.footerSection,
.footerMenu,
.logo,
.contactMe,
.friends {
    display: flex;
}

.footerSection {
    background-color: $contact-background;
    padding: 5%;
    h2 {
        margin: 5px auto;
    }
    .footFlex {
        display: flex;
        justify-content: center;
        align-items: center;
            // .contactMe {
            //     text-align: center;
            //     padding: 5px auto;
            //     flex-direction: column;
            //     justify-content: center;
            // }
    }
    .contactMe {
        flex-direction: column;
        width: 30%;
        margin-right: 50px;
        text-align: left;
        p {
            font-size: 1rem;
        }
    }
    .contactForm {
        width: 70%;
        p {
            font-size: 1rem;
        }
        input {
            width: 90%;
            display: block;
        }
        textarea {
            display: block;
            width: 90%;
            height: 200px;

        }
    }
}

.footerMenu {
    padding-right: 30px;
    height: 200px;
    justify-content: center;
}

.copyRights {
    background-color: $skills-background;
    color: whitesmoke;
}
.allRights {
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    p {
        font-size: 0.6rem;
        text-align: center;
        margin: 5px;
    }
}