@use 'variables' as *;

.footerSection,
.footerMenu,
.logo,
.contactMe,
.friends {
    display: flex;
}

.footerSection {
    background-color: $contact-background;
    padding: 5%;
    h2 {
        margin: 5px auto;
    }
    .footFlex {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
            .contactMe {
                text-align: center;
                padding: 5px auto;
                flex-direction: column;
                justify-content: center;
            }
            .divFriends {
                width: 350px;
                display: flex;
                justify-content: center;
                .friends {
                    justify-content: center;
                    align-items: center;
                    padding: 2px;
                    margin: 2px;
                    li {
                        width: 70px;
                    }
                    a {
                        text-decoration: none;
                        color: whitesmoke;
                    }
                }
                .friends2 {
                    display: none;
                }
            }
            .footerWords {
                width: 60%;
                p {
                    text-align: center;
                }
            }
            .footerButton {

                a {
                    text-decoration: none;
                    padding: 5px 10px;
                    color: black;
                    background-color: $button-background;
                    box-shadow: 2px 2px 2px grey;
                }
            }
    }
}

.footerMenu {
    padding-right: 30px;
    height: 200px;
    justify-content: center;
}

.copyRights {
    background-color: $skills-background;
    color: whitesmoke;
}
.allRights {
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    p {
        font-size: 0.6rem;
        text-align: center;
        margin: 5px;
    }
}