@use 'variables' as *;

.footerSection,
.footerMenu,
.logo,
.contactMe,
.friends {
    display: flex;
}

.footerSection {
    background-color: $contact-background;
    padding: 5%;
    h2 {
        margin: 5% 0 1% 0;
        font-size: 3.7rem;
    }
    .footFlex {
        display: flex;
        justify-content: center;
        align-items: center;
            // .contactMe {
            //     text-align: center;
            //     padding: 5px auto;
            //     flex-direction: column;
            //     justify-content: center;
            // }
    }
    .contactMe {
        flex-direction: column;
        width: 30%;
        margin-right: 50px;
        text-align: left;
        p {
                width: 100%;
                font-size: 1.3rem;
                margin: 0;
            }
            .shareIconsGroup {
                width: 75%;
                align-self: start;
                .ulShare {
                    display: flex;
                    justify-content: space-between;
                    padding: 0%;
                    li {
                        margin-right: 1%;
                    //     .navIcons {
                    //         width: 35px;
                    //     }
                    }
                }
            }
    }
    .contactForm {
        width: 70%;
        p {
            font-size: 1rem;
        }
        input {
            width: 90%;
            display: block;
        }
        textarea {
            display: block;
            width: 90%;
            height: 200px;

        }
    }
}

.footerMenu {
    padding-right: 30px;
    height: 200px;
    justify-content: center;
}

.copyRights {
    background-color: $green-contrast;
    color: whitesmoke;
}
.allRights {
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    p {
        font-size: 0.8rem;
        text-align: center;
        margin: 5px;
    }
}