@use 'variables' as *;

nav,
.stickyBar,
.navList,
.navItems  {
    display: flex;
    // border: 2px solid white;
}

.stickyBar,
.navItems {
    justify-content: center;
    // border: 2px solid white;
}

.navItems {
    // border: 2px solid white;
   
    li{
        // border: 2px solid white;
        width: 85px;
        margin: 5px 45px;
        padding: 15px;
        font-size: 1.2rem;
        a{
            color: whitesmoke;
        }
        
}

}
header {
    background-size: cover;
    background-image: url("../images/pexels-max-deroin-51415.jpg");
    background-color: $skills-background;
    color: whitesmoke;
    
}

.headerBody {
    height: 55vh;
    // background-color: whitesmoke;
   
    p {
        font-size: 1.9rem;
        span:hover {
            color: $text-rust;
            font-size: 1.1em;
            font-weight: bold;

        }
    }
    
}

