@use 'variables' as *;

nav,
.stickyBar,
.navList,
.navItems  {
    display: flex;
}

.stickyBar,
.navItems {
    justify-content: space-between;
    // border: 2px solid black;
}

.navItems {
    li{
        // border: 2px solid black;
            width: 55px;
            margin: 5px 10px;
            padding: 5px;
    }

}

.headerBody {
    height: 45vh;
    
}

