@use 'variables' as *;

nav,
.topNavBar,
.nav,
.topNav,
.headerBody,
.title  {
    display: flex;
}

.fixedNav {
    background-color: whitesmoke;
    position: sticky;
    top: 0%;
    z-index: 10;
}

.topNavBar {
    justify-content: space-between;
    .myLogo {
        width: 50%;
        justify-self: left;
            a {
            text-decoration: none;
            display: block;
            width: fit-content;
            p {
                font-size: 1.1rem;
                color: black;
                margin: 10% 5% 0% 0%;
                .dev {
                    color: $button-color;
                    transition: .5s ease-in;
                }
                .dev:hover {
                    font-size: 1.2rem;
                    
                }
            }
        }
    }
    .nav {
        width: 50%;
        justify-self: right;
            .topNav {
                justify-content: right;
                width: 100%;
                li {
                    margin: 0 8%;
                    transition: .5s ease-in;
                    
                    a {
                        color: black;
                        font-size: 1.2rem;
                    }
        
                }
                li:hover {
                    transform: scale(1.2);
                }
        }
    }

}

header {
    background-size: cover;
    background-image: url("../images/pexels-max-deroin-51415.jpg");
    background-color: $skills-background;
    color: whitesmoke;
    // padding-bottom: 10%;
    min-height: 80vh;
    height: 100vh;
}

.headerBody {
    min-height: 80vh;
    .wrapper {
        display: flex;
        // flex-direction: column;
        align-self: center;
        align-items: center;
        .myPhoto {
                // width: 30%;
                justify-content: center;
        
                img {
                    width: 100%;
                    border-radius: 50%;
                    border: 10px solid whitesmoke;
                }
            }

            h1 {
                    text-align: center;
                    margin: 1% auto;
                    font-weight: bold;
                    text-shadow: 3px 4px 7px rgba(81, 67, 21, 0.8);
                }
            
                p {
                    // width: 80%;
                    font-size: 3vw;
                    font-weight: bold;
                    text-shadow: 3px 4px 7px rgba(81,67,21,0.8);
                    text-align: center;
                    margin: 1%;
                    span:hover {
                        color: $button-background;
                        font-size: 1.1em;
                    }
                }
    }
}

