@use './variables' as *;

@media (min-width: 320px) and (max-width: 480px) {
        .wrapper {
                width: 100%;
        }

        h1 {
        font-size: 12vw;
        }

        h2 {
        font-size: 6.5vw;
        }

        p {
        font-size: 5vw;
        }

        header {
                height: 40vh;
        }
        .headerBody {
                .wrapper {
                        p {
                        font-size: 5vw;
                        padding: o 20px;;
                        }
                 }
        }

.about {
        .wrapper {
                p {
                        width: 100%;
                        padding: 0px 5px;
                }

        }
}
.skills {
        .wrapper {
                width: 100%;
                .iconGroup {
                        .icon {
                                width: 18vw;
                                margin: 15px 18px;
                                .fa-brands {
                                        width: 100%;
                                }
                                p {
                                        font-size: 4vw;
                                }
                        }
                
                }

        }
}
.latestWork {
        .project {
                width: 95vw;
                margin: 5% 15px;
                }
        .projText {
                height: auto;
        }
}

.footerSection {
        .footFlex {
                flex-direction: column;
                .contactMe {
                        width: 95vw;
                        margin: 0;
                        h2 {
                                font-size: 7vw;
                        }
                        
                }
                .contactForm {
                        width: 95vw;
                        margin: 0;
                }
                
        }

}

.allRights {
        // height: 5vh;
        display: flex;
        // justify-content: space-between;
        align-items: center;
        flex-direction: column;

        // flex-direction: column;
        p {
                font-size: 0.5rem;
                line-height: .2rem;
                text-align: center;
                margin: 10px;
        }
}
    
} // *****  end of @media 320px *****

@media (max-width: 810px) {

.latestWork {
        .latest {
                .recent {
                        justify-content: center;
                }

        }
}


} // *****  end of @media 780px *****

@media only screen and (min-width: 1200px) {
h1 {
        font-size: 5.5em;
        }

h2 {
        font-family: $roboto-bold;
        font-size: 3em;
}

p {
        font-size: 2vw;
        font-family: $lora-font;
        }

} // *****  end of @media min 1200px *****