@use 'variables' as *;

.skills,
.iconGroup,
.icon,
.group {
    display: flex;
    justify-content: center;
    
}
.skills {
    flex-direction: column;
    background-color: $skills-background;
    .wrapper {
        padding: 5%;
        h2 {
            text-align: center;
            color: whitesmoke;
            margin-bottom: 5%;
        }
        .iconGroup {
            flex-direction: column;
            .group {
                flex-wrap: wrap;
            }
        }
        .icon {
            width: 5vw;
            flex-direction: column;
            margin: 0 50px;
    
            p {
                text-align: center;
                color: whitesmoke;
                font-size: 1vw;
            }
        }
    }
}

.firebase img{
    width: 120px;
}