$body-color: white;
$button-color: #42a676;
$text-rust: #d36a3d;
$crayola-highlight: #ffe872;

$black-text: #14070e;
$skills-background: #cccccc;
$contact-background: #b6caa2;
$project-background: #f8f4f3;
$green-contrast: #365c46;
$button-background: #db9999;

$lora-font: 'Lora',serif;
$roboto-bold: 'Roboto', sans-serif;
$nunito-font: 'Nunito', sans-serif;

