html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
aside,
footer,
header,
nav,
section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption,
figure,
main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b,
strong {
  font-weight: inherit;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html [type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox],
[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button,
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details,
menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

h1 {
  font-size: 9vw;
}

h2 {
  font-family: "Roboto", sans-serif;
  font-size: 5.5vw;
  text-align: center;
  text-shadow: 2px 2px 3px rgba(81, 67, 21, 0.8);
}

p {
  font-size: 2vw;
  font-family: "Lora", serif;
}

.wrapper {
  max-width: 1200px;
  width: 80%;
  margin: 0 auto;
}

html {
  background-color: whitesmoke;
  font-size: 125%;
}

li {
  list-style: none;
}
li a {
  text-decoration: none;
}

button {
  background-color: #db9999;
  -ms-flex-item-align: center;
      align-self: center;
}

.fa-brands,
.firebaseLogo,
.fa-regular {
  color: whitesmoke;
}

nav,
.topNavBar,
.nav,
.topNav,
.headerBody,
.title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.topNavBar .nav {
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.topNavBar .nav .topNav {
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 80%;
}
.topNavBar .nav .topNav li > a {
  color: whitesmoke;
}

header {
  background-size: cover;
  background-image: url("../images/pexels-max-deroin-51415.jpg");
  background-color: #365c46;
  color: whitesmoke;
  padding-bottom: 10%;
  height: 60vh;
}

.headerBody .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 5%;
}
.headerBody .wrapper h1 {
  text-align: center;
  margin: 20px auto;
  font-weight: bold;
  text-shadow: 3px 4px 7px rgba(81, 67, 21, 0.8);
}
.headerBody .wrapper p {
  width: 80%;
  font-size: 3vw;
  font-weight: bold;
  text-shadow: 3px 4px 7px rgba(81, 67, 21, 0.8);
  text-align: center;
  margin: 10px auto;
}
.headerBody .wrapper p span:hover {
  color: #db9999;
  font-size: 1.1em;
}

.skills,
.iconGroup,
.icon,
.group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.skills {
  background-color: #365c46;
}
.skills .wrapper {
  padding: 5%;
}
.skills .wrapper h2 {
  text-align: center;
  color: whitesmoke;
  margin-bottom: 5%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.skills .wrapper .iconGroup {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.skills .wrapper .icon {
  width: 5vw;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 15px 35px;
}
.skills .wrapper .icon p {
  text-align: center;
  color: whitesmoke;
  font-size: 1vw;
}

.firebase img {
  width: 65px;
}

.latestWork,
.project,
.latest,
.recent,
.projText {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.latestWork {
  background-color: #f8f4f3;
}
.latestWork .latest {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.latestWork .latest .recent {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.latestWork .project {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: white;
  -webkit-box-shadow: 7px 7px 3px grey;
          box-shadow: 7px 7px 3px grey;
  width: 440px;
  margin: 2% 15px;
}
.latestWork .project .imgContainer {
  width: 90%;
  margin: 5px auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 5px 5px 3px grey;
          box-shadow: 5px 5px 3px grey;
}
.latestWork .project .imgContainer img {
  width: 100%;
  height: 100%;
}
.latestWork .projText {
  height: 190px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.latestWork .projText h3 {
  margin: 10px 10px;
}
.latestWork .projText .stack {
  margin: 5px 10px;
  font-size: 0.7rem;
}
.latestWork .projText .description {
  margin: 5px 10px;
  font-size: 0.9rem;
}

.linkButton > a {
  display: inline-block;
  text-decoration: none;
  text-align: center;
  color: black;
  width: 110px;
  margin: 10px;
  padding: 5px;
  background-color: #db9999;
  -webkit-box-shadow: 2px 2px 2px grey;
          box-shadow: 2px 2px 2px grey;
}

.about,
.myPhoto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about {
  background-color: whitesmoke;
  padding: 5% auto;
}
.about .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 5% auto;
}
.about .wrapper .myPhoto {
  width: 20%;
  border-radius: 50%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.about .wrapper .myPhoto img {
  width: 90%;
  border-radius: 10%;
}
.about .wrapper h2 {
  margin: 7px;
}
.about .wrapper p {
  width: 70%;
  text-align: center;
  margin-top: 5px;
}

.footerSection,
.footerMenu,
.logo,
.contactMe,
.friends {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footerSection {
  background-color: #b6caa2;
  padding: 5%;
}
.footerSection h2 {
  margin: 5px auto;
}
.footerSection .footFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footerSection .contactMe {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 30%;
  margin-right: 50px;
  text-align: left;
}
.footerSection .contactMe p {
  font-size: 1rem;
}
.footerSection .contactForm {
  width: 70%;
}
.footerSection .contactForm p {
  font-size: 1rem;
}
.footerSection .contactForm input {
  width: 90%;
  display: block;
}
.footerSection .contactForm textarea {
  display: block;
  width: 90%;
  height: 200px;
}

.footerMenu {
  padding-right: 30px;
  height: 200px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.copyRights {
  background-color: #365c46;
  color: whitesmoke;
}

.allRights {
  height: 5vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.allRights p {
  font-size: 0.6rem;
  text-align: center;
  margin: 5px;
}

.contactMain {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 10%;
}
.contactMain .wrapper {
  width: 60%;
}

.contactStickyBar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.contactStickyBar li {
  margin: 0px 5px;
}

.homeButton {
  margin: 20px;
}
.homeButton a {
  text-decoration: none;
  color: white;
}

.contactMeText {
  font-size: 3.3vw;
}

.userInput {
  width: 52vw;
}

@media (min-width: 320px) and (max-width: 480px) {
  .wrapper {
    width: 100%;
  }
  h1 {
    font-size: 12vw;
  }
  h2 {
    font-size: 6.5vw;
  }
  p {
    font-size: 5vw;
  }
  header {
    height: 40vh;
  }
  .headerBody .wrapper p {
    font-size: 5vw;
    padding: o 20px;
  }
  .about {
    margin: 50px auto;
  }
  .about .wrapper p {
    width: 90%;
    padding: 0px 5px;
    font-size: 4vw;
  }
  .skills .wrapper {
    width: 100%;
  }
  .skills .wrapper .iconGroup .icon {
    width: 18vw;
    margin: 15px 18px;
  }
  .skills .wrapper .iconGroup .icon .fa-brands {
    width: 100%;
  }
  .skills .wrapper .iconGroup .icon p {
    font-size: 4vw;
  }
  .latestWork .project {
    width: 90vw;
    margin: 5% 15px;
  }
  .latestWork .projText {
    height: auto;
  }
  .footerSection .footFlex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footerSection .footFlex .contactMe {
    width: 90vw;
    margin: 0;
  }
  .footerSection .footFlex .contactMe h2 {
    font-size: 7vw;
  }
  .footerSection .footFlex .contactForm {
    width: 90vw;
    margin: 0;
  }
  .allRights {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .allRights p {
    font-size: 0.5rem;
    line-height: 0.2rem;
    text-align: center;
    margin: 10px;
  }
}
@media (min-width: 481px) and (max-width: 767px) {
  .wrapper {
    width: 95%;
  }
  header {
    height: 750px;
  }
  .headerBody {
    margin-top: 120px;
  }
  .headerBody .wrapper p {
    font-size: 5vw;
    padding: o 20px;
  }
  .about {
    margin: 50px auto;
  }
  .about .wrapper p {
    width: 100%;
    padding: 0px 5px;
    font-size: 4vw;
  }
  .skills {
    margin: 10% auto;
    padding: 10% 0;
  }
  .skills .wrapper .icon {
    margin-top: 15px;
    margin-left: 15px;
    margin-right: 45px;
  }
  .skills .wrapper .icon p {
    font-size: 2vw;
  }
  .latestWork {
    margin: 5vh;
  }
  .latestWork .latest .recent {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .latestWork .latest .recent .project {
    margin: 5% 5%;
  }
  .footerSection .footFlex {
    width: 95%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: initial;
        -ms-flex-align: initial;
            align-items: initial;
  }
  .footerSection .footFlex .contactMe {
    width: 80vw;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footerSection .footFlex .contactMe h2 {
    font-size: 7vw;
  }
  .footerSection .footFlex .contactMe p {
    width: 100%;
  }
  .footerSection .footFlex .contactForm {
    width: 95vw;
    margin: 0;
  }
  .footerSection .footFlex .contactForm p {
    font-size: 1.3rem;
    width: 100%;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  header {
    height: 45vh;
  }
  .headerBody {
    margin-top: 100px;
  }
  .headerBody .wrapper p {
    font-size: 30px;
    padding: 0 20px;
  }
  .about {
    margin: 50px auto;
  }
  .about .wrapper h2 {
    margin: 25px;
  }
  .about .wrapper p {
    width: 100%;
    padding: 0px 5px;
    font-size: 3vw;
  }
  .skills {
    margin: 10% auto;
    padding: 10% 0;
  }
  .skills .wrapper {
    width: 85%;
  }
  .skills .wrapper .icon {
    margin-top: 15px;
    margin-left: 15px;
    margin-right: 45px;
  }
  .skills .wrapper .icon p {
    font-size: 1.5vw;
  }
  .latestWork {
    margin: 5vh;
  }
  .latestWork .latest {
    width: 100%;
  }
  .latestWork .latest .recent {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .latestWork .latest .recent .project {
    width: 400px;
    margin: 5% 5%;
  }
  .latestWork .latest .recent .project .imageContainer {
    margin: 25% auto;
  }
  .latestWork .latest .recent .project .projText {
    width: 90%;
    margin: 2% 2%;
  }
  .latestWork .latest .recent .project .linkButton {
    margin-bottom: 5%;
  }
  .latestWork .latest .recent .project .linkButton a {
    font-size: 1.5rem;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  .footerSection .footFlex {
    width: 95%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: initial;
        -ms-flex-align: initial;
            align-items: initial;
  }
  .footerSection .footFlex .contactMe {
    width: 80vw;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footerSection .footFlex .contactMe h2 {
    font-size: 7vw;
  }
  .footerSection .footFlex .contactMe p {
    width: 95%;
    font-size: 2rem;
  }
  .footerSection .footFlex .contactForm {
    width: 95vw;
    margin: 0;
    padding: 10px;
  }
  .footerSection .footFlex .contactForm p {
    font-size: 1.1rem;
    width: 95%;
  }
  .footerSection .footFlex .contactForm p input {
    -ms-flex-item-align: center;
        align-self: center;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .wrapper {
    width: 95%;
  }
  header {
    height: 85vh;
  }
  .headerBody {
    margin-top: 110px;
  }
  .headerBody .wrapper p {
    font-size: 5vw;
  }
  .about {
    margin: 50px auto;
  }
  .about .wrapper h2 {
    margin: 40px;
  }
  .about .wrapper p {
    width: 80%;
    padding: 0px 5px;
    font-size: 25px;
  }
  .skills {
    margin: 5% auto;
    padding: 10% 0;
  }
  .skills .wrapper .icon {
    width: 120px;
    margin-top: 15px;
    margin-left: 15px;
    margin-right: 70px;
  }
  .skills .wrapper .icon .fa-3x {
    font-size: 7em;
  }
  .skills .wrapper .icon p {
    font-size: 1vw;
  }
  .skills .wrapper .icon .firebaseLogo {
    width: 150px;
  }
  .latestWork {
    margin: 4vh;
  }
  .latestWork .latest {
    width: 100%;
  }
  .latestWork .latest .recent {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .latestWork .latest .recent .project {
    width: 490px;
  }
  .latestWork .latest .recent .project .imgContainer {
    width: 90%;
    margin: 5% auto;
  }
  .latestWork .latest .recent .project .projText {
    width: 90%;
    margin: 2% 2%;
  }
  .latestWork .latest .recent .project .linkButton {
    margin-bottom: 5%;
  }
  .latestWork .latest .recent .project .linkButton a {
    font-size: 1.5rem;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  .footerSection .footFlex {
    width: 80%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: initial;
        -ms-flex-align: initial;
            align-items: initial;
  }
  .footerSection .footFlex .contactMe {
    width: 80vw;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footerSection .footFlex .contactMe h2 {
    font-size: 7vw;
  }
  .footerSection .footFlex .contactMe p {
    width: 100%;
    font-size: 35px;
  }
  .footerSection .footFlex .contactForm {
    width: 80vw;
    margin: 0;
  }
  .footerSection .footFlex .contactForm p {
    font-size: 1.5rem;
    width: 100%;
  }
  .footerSection .footFlex .contactForm .contactButton {
    width: 110px;
    padding: 5px;
  }
}
@media (min-width: 1200px) {
  h1 {
    font-size: 5.5em;
  }
  h2 {
    font-family: "Roboto", sans-serif;
    font-size: 3em;
  }
  p {
    font-size: 2vw;
    font-family: "Lora", serif;
  }
  header {
    height: 85vh;
  }
  .headerBody {
    margin-top: 100px;
  }
  .headerBody .wrapper {
    width: 100%;
  }
  .headerBody .wrapper p {
    font-size: 50px;
  }
  .about {
    margin: 50px auto;
  }
  .about .wrapper h2 {
    margin: 40px;
  }
  .about .wrapper p {
    width: 100%;
    padding: 0px 5px;
    font-size: 25px;
  }
  .skills {
    margin: 10% auto;
    padding: 0;
  }
  .skills .wrapper .icon {
    width: 120px;
    margin-top: 15px;
    margin-left: 15px;
    margin-right: 70px;
  }
  .skills .wrapper .icon .fa-3x {
    font-size: 7em;
  }
  .skills .wrapper .icon p {
    font-size: 1vw;
  }
  .skills .wrapper .icon .firebaseLogo {
    width: 150px;
  }
  .latestWork {
    margin: 4vh;
  }
  .latestWork .latest {
    width: 100%;
  }
  .latestWork .latest .recent {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .latestWork .latest .recent .project {
    width: 490px;
  }
  .latestWork .latest .recent .project .imgContainer {
    width: 90%;
    margin: 5% auto;
  }
  .latestWork .latest .recent .project .projText {
    width: 90%;
    margin: 2% 2%;
  }
  .latestWork .latest .recent .project .linkButton {
    margin-bottom: 5%;
  }
  .latestWork .latest .recent .project .linkButton a {
    font-size: 1.5rem;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  .footerSection .footFlex {
    width: 95%;
    -webkit-box-align: initial;
        -ms-flex-align: initial;
            align-items: initial;
  }
  .footerSection .footFlex .contactMe {
    width: 500px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footerSection .footFlex .contactMe h2 {
    font-size: 7vw;
  }
  .footerSection .footFlex .contactMe p {
    width: 90%;
    font-size: 1.5rem;
  }
  .footerSection .footFlex .contactForm {
    width: 95vw;
    margin: 0;
  }
  .footerSection .footFlex .contactForm p {
    font-size: 1.5rem;
    width: 100%;
  }
}