html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
aside,
footer,
header,
nav,
section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption,
figure,
main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b,
strong {
  font-weight: inherit;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html [type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox],
[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button,
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details,
menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

h1 {
  font-size: 5rem;
}

h2 {
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
  text-align: center;
}

p {
  font-family: "Lora", serif;
}

.wrapper {
  max-width: 1440px;
  width: 80%;
  margin: 0 auto;
}

html {
  background-color: whitesmoke;
  font-size: 125%;
}

li {
  list-style: none;
}
li a {
  text-decoration: none;
}

button {
  background-color: #42a676;
  -ms-flex-item-align: center;
      align-self: center;
}

.fa-brands,
.firebaseLogo,
.fa-regular {
  color: whitesmoke;
}

nav,
.stickyBar,
.navList,
.navItems,
.headerBody,
.title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.stickyBar,
.navItems {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.navItems li {
  width: 85px;
  margin: 5px 45px;
  padding: 15px;
  font-size: 1.2rem;
}
.navItems li a {
  color: whitesmoke;
}

header {
  background-size: cover;
  background-image: url("../images/pexels-max-deroin-51415.jpg");
  background-color: #365c46;
  color: whitesmoke;
}

.headerBody {
  height: 50vh;
}
.headerBody .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 5%;
}
.headerBody .wrapper h1 {
  text-align: center;
  margin: 20px auto;
  font-weight: bold;
}
.headerBody .wrapper p {
  width: 80%;
  font-size: 2.1rem;
  font-weight: bold;
  text-align: center;
  margin: 10px auto;
}
.headerBody .wrapper p span:hover {
  color: #db9999;
  font-size: 1.1em;
}

.contactHeader {
  height: 40vh;
}
.contactHeader p {
  display: none;
}

.skills,
.iconGroup,
.icon,
.group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.skills {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #365c46;
}
.skills .wrapper {
  padding: 5%;
}
.skills .wrapper h2 {
  font-size: 3rem;
  text-align: center;
  color: whitesmoke;
  margin-bottom: 5%;
}
.skills .wrapper .iconGroup {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.skills .wrapper .iconGroup .group {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.skills .wrapper .icon {
  width: 120px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 50px;
}
.skills .wrapper .icon p {
  text-align: center;
  color: whitesmoke;
  font-size: 1em;
}

.firebase img {
  width: 120px;
}

.latestWork,
.project,
.latest,
.recent,
.projText {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.latestWork {
  background-color: #f8f4f3;
}
.latestWork h2 {
  font-size: 3rem;
}
.latestWork .latest {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.latestWork .latest .recent {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.latestWork .project {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: white;
  width: 350px;
  margin: 2% 15px;
}
.latestWork .project .imgContainer {
  width: 90%;
  margin: 5px auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 7px 7px 3px grey;
          box-shadow: 7px 7px 3px grey;
}
.latestWork .project .imgContainer img {
  width: 100%;
  height: 100%;
}
.latestWork .projText {
  height: 190px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.latestWork .projText h3 {
  margin: 10px 10px;
}
.latestWork .projText .stack {
  margin: 5px 10px;
  font-size: 0.7rem;
}
.latestWork .projText .description {
  margin: 5px 10px;
  font-size: 0.9rem;
}

.linkButton > a {
  display: inline-block;
  text-decoration: none;
  text-align: center;
  color: black;
  width: 110px;
  margin: 10px;
  padding: 5px;
  background-color: #42a676;
  -webkit-box-shadow: 6px 4px 2px grey;
          box-shadow: 6px 4px 2px grey;
}

.about,
.myPhoto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about {
  background-color: whitesmoke;
  padding: 5% auto;
}
.about .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 5% auto;
}
.about .wrapper .myPhoto {
  width: 20%;
  border-radius: 50%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.about .wrapper .myPhoto img {
  width: 90%;
  border-radius: 10%;
}
.about .wrapper h2 {
  font-size: 3rem;
  margin: 7px;
}
.about .wrapper p {
  width: 70%;
  font-size: 1.2rem;
  text-align: center;
  margin-top: 5px;
}

.footerSection,
.footerMenu,
.logo,
.contactMe,
.friends {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footerSection {
  background-color: #b6caa2;
  height: 30vh;
}
.footerSection h2 {
  margin: 5px auto;
  font-size: 2rem;
}
.footerSection .footFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footerSection .footFlex .contactMe {
  width: 350px;
  text-align: center;
  padding: 5px auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.footerSection .footFlex .divFriends {
  width: 350px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.footerSection .footFlex .friends {
  font-size: 1.5rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0px;
  margin: 0px;
}
.footerSection .footFlex .friends li {
  width: 50px;
  padding: 10px;
}
.footerSection .footFlex .friends li a {
  text-decoration: none;
  color: whitesmoke;
}

.footerMenu {
  padding-right: 30px;
  height: 200px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.copyRights {
  background-color: #365c46;
  color: whitesmoke;
}

.allRights {
  height: 5vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.allRights p {
  font-size: 0.9rem;
  line-height: 0.2rem;
  text-align: center;
  margin: 10px 20px;
}